.footer {
    background-color: #cdb4db;
    color: white;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer nav a {
    color: black;
}
footer nav a:hover {
    color: grey;
    text-decoration: underline;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}
