.box {
    background-color: white;
    margin: 40px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
}

.box button {
    width: 45rem;
}

.count_box {
    background-color: white;
    margin: 40px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
}

.count_box .btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.count_box button {
    background-color: maroon;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.count_box button:hover {
    background-color: #ddd;
}
